.footer
  .p 
    span © 1999 - 2019 
    span= config.title
  .by_farbox
    a(href="https://hexo.io/zh-cn/", target="_blank") Hexo
    span &nbsp;with&nbsp;
    a(href="https://github.com/yemaster/Anatole-Plus", target="_blank") Anatole-Plus(V19.8.21)
    span  by
    a(href="https://yemaster.github.io", target="_blank")  yemaster
