.footer
  .p 
    span © 1999 - 2019 Yemaster
  .by_farbox
    a(href="https://hexo.io/zh-cn/", target="_blank") Powered by Hexo. 
    br 
    a Theme by CaiCai & Ben.
    a(href="https://github.com/yemaster/Anatole-Plus", target="_blank") Edit by yemaster