.footer
  .p 
    span © 1999 - 2020 
    span= config.title
  .by_farbox
    a(href="https://hexo.io/zh-cn/", target="_blank") Hexo
    span &nbsp;with&nbsp;
    a(href="https://github.com/yemaster/Anatole-Plus", target="_blank") Anatole-Plus(V19.8.21)
    span  by
    a(href="https://yemaster.github.io", target="_blank")  yemaster
    br()
    script(src= url_for('https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js'), async='')
    span(id="busuanzi_container_site_uv") 本站总访问量
    span(id="busuanzi_value_site_uv")
